#storyboard-title{
  margin-top: 130px;
  text-align: center;
  color: #ccd6f6;
}

.wireframe1-container{
  text-align: justify;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin-top: 30px;
  margin-left: 160px;
}

.wireframe1{
  width: 1000px;
  height: auto;
  text-align: center;
  
}

.wireframe2-container{
  text-align: justify;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin-left: 160px;
}

.wireframe2{
  width: 1000px;
  height: auto;
}

.wireframe3-container{
  text-align: justify;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin-left: 160px;
}

.wireframe3{
  width: 1000px;
  height: auto;
}

.theme-desc{
  font-size: 18px;
  font-family: "NTR", sans-serif;
  color: #8892b0;
}

.features-desc{
  font-size: 18px;
  font-family: "NTR", sans-serif;
  color: #8892b0;
}

.index-desc{
  font-size: 18px;
  text-align: justify;
  font-family: "NTR", sans-serif;
  color: #8892b0;
  max-width: 600px;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.proffesional-desc{
  font-size: 18px;
  text-align: left;
  font-family: "NTR", sans-serif;
  color: #8892b0;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin-left: 680px;
  position: unset;
}

.personality-desc{
  font-size: 18px;
  text-align: justify;
  font-family: "NTR", sans-serif;
  color: #8892b0;
  max-width: 600px;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.personal-dev-desc{
  font-size: 18px;
  text-align: left;
  font-family: "NTR", sans-serif;
  color: #8892b0;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin-left: 680px;
  position: unset;
}

.storyboard-desc{
  font-size: 18px;
  text-align: justify;
  font-family: "NTR", sans-serif;
  color: #8892b0;
  max-width: 600px;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.reference-desc{
  font-size: 18px;
  text-align: left;
  font-family: "NTR", sans-serif;
  color: #8892b0;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin-left: 680px;
  position: unset
}




